# 使用语言
language: node_js
# node版本
node_js: stable
# 设置只监听哪个分支
branches:
  only:
  - master
# 缓存，可以节省集成的时间，这里我用了yarn，如果不用可以删除
cache:
  directories:
    - node_modules
# tarvis生命周期执行顺序详见官网文档
before_install:
- openssl aes-256-cbc -K $encrypted_771eb07e0b57_key -iv $encrypted_771eb07e0b57_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- echo -e "Host 54.248.204.0\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- npm install -g hexo-cli
install:
# 不用yarn的话这里改成 npm i 即可
- npm install
script:
- hexo clean
- hexo generate
after_success:
# 推送到aws服务器的Nginx文件夹
- scp -o stricthostkeychecking=no -r ./public/*.* ubuntu@ec2-54-248-204-0.ap-northeast-1.compute.amazonaws.com:/home/vuetify-sample
- cd ./public
- git init
- git add --all .
- git commit -m "Travis CI Auto Builder"
# 这里的 REPO_TOKEN 即之前在 travis 项目的环境变量里添加的
- git push --quiet --force https://$GH_TOKEN@$GH_REF master:pages

